<div class="container airdrops">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Free Airdrops Token Distribution</h1>
            <p>1. <strong>Subscribe</strong> news letter from the front page</p>
            <p>2. <strong>LIKE</strong> <a href="https://www.facebook.com/Profitlocks-157727895040825/">the facebook
                page</a></p>
            <p>3. <strong>Subscribe</strong> <a href="https://t.me/fufustories"> News channel fufu stories</a></p>
            <p>4. <strong>Subscribe</strong> <a href="https://t.me/pflcpump"> News channel pfl Pump</a></p>
            <p>5. <strong>Join</strong> <a href="https://t.me/joinchat/CG1n5RESJ1YYM0zkChFEVA"> telegram group and post
                your telegram airdrop
                ID</a></p>
        </div>
    </div>
</div>