<div class="container demo-page">
    <div class="row">
        <div class="col-md-12">
            <div>
                <h1 class="page-header">Mission</h1>
                <p class="text-justify">Our mission and the ultimate purpose of profitlocks is to enable investors in
                    our token to build wealth through the power of artificial intelligence and the public
                    blockchain.</p>
            </div>
            <div>
                <h1 class="page-header">Strategy</h1>
                <p class="text-justify">
                    We envision a steady flow of profits and reinvestment using a distinctive two stage strategy.
                    Trading cryptocurrencies with artificial intelligence will provide short term gains and the fuel to
                    drive our longer term vision of becoming one of the most successful seed investors in the AI and
                    Public Blockchain space. We believe this bold vision is completely attainable even with a relatively
                    modest starting point because of our unique two stage strategy.</p>
            </div>
            <div>
                <h1 class="page-header">Vision</h1>
                <p class="text-justify">
                    Through the voting functionality embedded in the Smart Contract, the ‘wisdom of the crowd’ drives
                    how
                    the PLCoin Collective of token holders direct investment decisions. These decisions are then
                    executed by
                    the Executive Team through a proprietary trading company based in Hong Kong. The long-term goal is
                    to
                    create a portfolio of investments in early stage companies in two of the most disruptive sectors
                    represented in today’s tech markets – blockchain and artificial intelligence. Capital not being used
                    for
                    start-up investments is traded by proprietary AI models that attempt to increase the amount of
                    investment capital available. If necessary excess profits generated through market trading can also
                    be
                    deployed to purchase PLCoin tokens at just below asset value to keep token price in-step with the
                    value
                    of the underlying assets held by the Hong Kong company. These tokens can then be sold at a price
                    that
                    generates a return for the Collective – thus creating another revenue stream for the benefit of
                    token
                    holders.
                </p>
                <p class="text-justify">
                    PLCoin is specifically designed to benefit individual investors by allowing them to become part of a
                    collective. This collective is created with the recognition that to hold investments in other
                    companies
                    and hold assets with value, a framework must be built that recognises and respects the rights of all
                    owners of this collective. With that said, our vision for PLCoin is to bridge the divide between a
                    conventional exchange trading / investment company and a DAO without formal structure.
                </p>
            </div>
        </div>
    </div>

</div>