<div class="container jobs-career">
    <h2>YES, WE ARE HIRING</h2>
    <div class="row">
        <div class="col-md-6">
            <h1 class="page-header">AI Engineer - Machine Learning, Data & API</h1>
            <div>
                <ul>
                    <li>Data preparation on financial data</li>
                    <li>Builds DQN model on TensorFlow</li>
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <h1 class="page-header">Project Assistant</h1>
            <div>
                <ul>
                    <li>Welcomes challenges</li>
                    <li>Assists fundraising and business development</li>
                </ul>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="row text-center">
            <div class="col-md-12">
                <button class="btn btn-primary run-demo">APPLY</button>
            </div>
        </div>
    </div>
</div>



<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                Follow Us
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>YouTube</li>
                    <li>Instagram</li>
                    <li>GitHub</li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="footer__item d-lg-flex justify-content-lg-between align-items-lg-center">
                    <ul id="menu-footer" class="nav sub-nav footer__sub-nav">
                        <li id="menu-item-1194"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1194"><a
                                title="Help Center" href="#/jobs-career">Career</a></li>
                        <li id="menu-item-119"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-119"><a
                                title="Terms of Service"
                                href="https://github.com/tokenchain/Profitlocks/wiki/Terms-and-Conditions">Terms of
                            Service</a></li>
                        <li id="menu-item-117"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-117"><a
                                title="Licenses">Licenses</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <!-- Begin MailChimp Signup Form -->
                <form action="https://heskeyo.us12.list-manage.com/subscribe/post?u=dc2bc88b08cb5235a0cc5fd1b&amp;id=9e321f3276"
                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                      target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <div id="signup_footer" class="d-flex align-items-start">
                            <div class="d-md-flex justify-content-between align-items-center mc-field-group">
                                <input id="mce-EMAIL"
                                       class="footer__email-input form-control form-control--muted" name="EMAIL"
                                       type="email" aria-describedby="footerEmail" placeholder="Email address">
                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                            <div class="clear">
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                    <input type="text"
                                           name="b_dc2bc88b08cb5235a0cc5fd1b_9e321f3276"
                                           tabindex="-1"
                                           value="">
                                </div>
                                <input class="btn btn-brand button" type="submit" value="Subscribe"
                                       name="subscribe"
                                       id="mc-embedded-subscribe">
                            </div>
                            <div class="form-group">
                                <h5 class="mb-1">Get the reward from the sign up on letter news!</h5>
                                <div class="form-text mt-0">We Never spam.</div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--End mc_embed_signup-->
            </div>
        </div>
    </div>
    <div class="container reveal">
        <p class="text-center text-muted">
            <span> <strong>Profitlock</strong> is privately developed trading bot. </span>
            <a href="https://github.com/tokenchain/Profitlocks/wiki/Terms-and-Conditions" target="_blank">Disclaimer,
                Terms and conditions</a>
        </p>
    </div>
</div>