<div class="jumbotron">
    <div class="container">
        <div class="row text-center">
            <p class="lead">The single end server that works on <strong>MacOS/Linux/Windows</strong> cross platforms.
            </p>
        </div>
        <div class="row text-center">
            <button class="btn btn-primary btn-lg hidden-md hidden-lg"><i class="fa fa-github fa-lg"></i> Download
            </button>
        </div>
        <div class="row">
            <div class="col-md-6">
                You will able to open and trade with many platforms instantly.
            </div>
            <div id="canvas-container" class="col-md-6">
                <canvas id="canvas" width="100%" height="550"></canvas>
            </div>
        </div>
    </div>
    <h5 class="text-center"><em>In this demo the creatures <strong>learn</strong> how to explore the screen
        together</em></h5>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="media">
                <div class="media-left">
                    <a href="">
                        <div class="fa fa-stack fa-5x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-asterisk fa-stack-1x fa-inverse"></i>
                        </div>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Neurons</h4>
                    <p>Neurons are the basic unit of the neural network. They can be connected to another neuron or gate
                        connections between other neurons. This allows you to create complex and flexible
                        architectures.</p>
                    <a href="#" target="_blank" class="btn btn-default p">Learn
                        More</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="media">
                <div class="media-left">
                    <a href="">
                        <div class="fa fa-stack fa-5x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-sitemap fa-stack-1x fa-inverse"></i>
                        </div>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Networks</h4>
                    <p>Networks can be imported/exported to JSON, converted to workers or standalone functions. They can
                        be connected to other networks or gate connections.</p>
                    <a href="#" target="_blank" class="btn btn-default">Learn
                        More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="media">
                <div class="media-left">
                    <a href="">
                        <div class="fa fa-stack fa-5x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                        </div>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Trainer</h4>
                    <p>Trainers can take any given network regardless of its architecture and use any training set. It
                        includes built-in tasks to test networks, like learning an XOR, completing a Discrete Sequence
                        Recall task.</p>
                    <a href="#" target="_blank" class="btn btn-default">Learn
                        More</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="media">
                <div class="media-left">
                    <a href="">
                        <div class="fa fa-stack fa-5x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-bank fa-stack-1x fa-inverse"></i>
                        </div>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Architect</h4>
                    <p>The Architect includes built-in useful architectures such as multilayer <a
                            href="http://en.wikipedia.org/wiki/Multilayer_perceptron">perceptrons</a>, multilayer <a
                            href="http://en.wikipedia.org/wiki/Long_short_term_memory">long short-term memory</a>
                        networks (LSTM), <a href="http://en.wikipedia.org/wiki/Liquid_state_machine">liquid state
                            machines</a> and <a href="http://en.wikipedia.org/wiki/Hopfield_network">Hopfield</a>
                        networks.</p>
                    <a href="https://github.com/cazala/synaptic/wiki/Architect" target="_blank" class="btn btn-default">Learn
                        More</a>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="media">
                <div class="media-left">
                    <a href="">
                        <div class="fa fa-stack fa-5x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-whatsapp fa-stack-1x fa-inverse"></i>
                        </div>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Chat Bot Ready</h4>
                    <p>Your dedicated chat bot agent is ready in your pocket</p>
                    <p>All conclusive functions and your safe guard of funding all in one centralized place.</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>


<div class="footer">

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                Follow Us
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>YouTube</li>
                    <li>Instagram</li>
                    <li>GitHub</li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="footer__item d-lg-flex justify-content-lg-between align-items-lg-center">
                    <ul id="menu-footer" class="nav sub-nav footer__sub-nav">
                        <li id="menu-item-1194"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1194"><a
                                title="Help Center" href="https://themes.zendesk.com/hc/en-us">Help Center</a></li>
                        <li id="menu-item-119"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-119"><a
                                title="Terms of Service"
                                href="https://github.com/tokenchain/Profitlocks/wiki/Terms-and-Conditions">Terms of
                            Service</a></li>
                        <li id="menu-item-117"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-117"><a
                                title="Licenses">Licenses</a></li>
                    </ul>
                </div>

            </div>
            <div class="col-md-4">

                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup">
                    <form action="https://heskeyo.us12.list-manage.com/subscribe/post?u=dc2bc88b08cb5235a0cc5fd1b&amp;id=9e321f3276"
                          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                          class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <div id="signup_footer" class="d-flex align-items-start">
                                <div class="d-md-flex justify-content-between align-items-center mc-field-group">
                                    <input id="mce-EMAIL"
                                           class="footer__email-input form-control form-control--muted" name="EMAIL"
                                           type="email" aria-describedby="footerEmail" placeholder="Email address">
                                </div>

                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>
                                <div class="clear">
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                    <input type="text"
                                           name="b_dc2bc88b08cb5235a0cc5fd1b_9e321f3276"
                                           tabindex="-1"
                                           value="">
                                </div>

                                    <input class="btn btn-brand button" type="submit" value="Subscribe" name="subscribe"
                                           id="mc-embedded-subscribe">
                                </div>
                                <div class="form-group">
                                    <h5 class="mb-1">Get new themes in your inbox!</h5>
                                    <div class="form-text mt-0">New themes or big discounts. Never spam.</div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>

                <!--End mc_embed_signup-->

            </div>
        </div>

    </div>


    <div class="container reveal">
        <p class="text-center text-muted"><strong>Profitlock<strong> is privately developed trading bot. <a
                href="https://github.com/tokenchain/Profitlocks/wiki/Terms-and-Conditions" target="_blank">Disclaimer,
            Terms and conditions</a></p>
    </div>
</div>

<!-- build:js({.tmp,app}) ../scripts/scripts.js -->
<script src="scripts/homepage/vector.js"></script>
<script src="scripts/homepage/creature.js"></script>
<script src="scripts/homepage/world.js"></script>
<!-- endbuild -->
