<div class="container demo-page">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">OTC platforms</h1>
            <div>
                <p class="text-justify">A group of individuals comes to play with their instant over the counter trading
                    in peer to peer fashion.</p>
                <p class="text-justify">
                    By leveraging extensive experience in risk management and trading strategies, in addition to having a state-of-the-art proprietary technology and deep pools of liquidity, PFL offers high value, large volume block trades of Digital Assets while ensuring competitive pricing and premium service.
                    PFL provides unrivaled strengths to a diversified range of trading partners from traditional institutions, wealth management, family offices, HNWIs and mining consortiums. The team envisions to lead the way in offering an instant gateway to Digital Assets.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h1 class="page-header">OTC Trading Service</h1>
            <div>
                <ul>
                    <li>Access to the Largest Pool of Liquidity in APAC.</li>
                    <li>Private Trading Chat: All trades are done in a private trading chat directly with the PFL
                        traders.
                    </li>
                    <li>Instant Execution: Live market quotes are provided in trading chat. All trades are executed
                        instantly.
                    </li>
                    <li>Efficient Settlement: PFL offers a same-day settlement to all of its counterparts. As well
                        Digital Asset wallets through its platform for smooth settlement.
                    </li>
                    <li>Competitive Fee Schedule: PFL offers low trading cost with no hidden fees.</li>
                </ul>
            </div>
        </div>
    </div>
</div>