<div class="container demo-page">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Self Hosting Plan</h1>
            <div>
                <div class="dw-content">
                    <h2 class="sectionedit1 page-header" id="pre_installed_vps_service">Pre Installed VPS Service<a
                            class="anchorjs-link " href="#pre_installed_vps_service"
                            aria-label="Anchor link for: pre_installed_vps_service" data-anchorjs-icon=""
                            style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; line-height: 1; padding-left: 0.375em;"></a>
                    </h2>
                    <div class="level2">

                        <p>
                            The ProfitLocks team is pleased to offer a new service: ProfitLocks on a VPS, already
                            installed and ready for you to configure. A VPS provides many great benefits and features
                            over running ProfitLocks on your own computer. Many people see a great reduction in
                            bandwidth costs, and an increase in uptime due to better power management vs a home server.
                        </p>

                        <p>
                            Get your VPS (Virtual Private Server) with ProfitLocks pre-installed today!
                        </p>

                        <p>
                            Features and benefits:
                        </p>
                        <ul class=" fix-media-list-overlap">
                            <li class="level1">
                                <div class="li"> Begin using your bot in minutes instead of hours</div>
                            </li>
                            <li class="level1">
                                <div class="li"> Windows and Linux Ubuntu options available</div>
                            </li>
                            <li class="level1">
                                <div class="li"> Very low cost monthly or annual plan</div>
                            </li>
                            <li class="level1">
                                <div class="li"> Saves money for bandwidth usage</div>
                            </li>
                            <li class="level1">
                                <div class="li"> Improves uptime due to better power management</div>
                            </li>
                            <li class="level1">
                                <div class="li"> As inexpensive as most vanilla VPS plans, with PT already installed!
                                </div>
                            </li>
                            <li class="level1">
                                <div class="li"> Most up to date release version of PT when you purchase</div>
                            </li>
                            <li class="level1">
                                <div class="li"> Our support team will provide assistance just as we do for self or paid
                                    installations
                                </div>
                            </li>
                        </ul>

                    </div>

                    <h3 class="sectionedit2" id="to_purchase_a_pre-installed_vps">To Purchase a Pre-Installed VPS<a
                            class="anchorjs-link " href="#to_purchase_a_pre-installed_vps"
                            aria-label="Anchor link for: to_purchase_a_pre installed_vps" data-anchorjs-icon=""
                            style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; line-height: 1; padding-left: 0.375em;"></a>
                    </h3>

                </div>
            </div>
        </div>
    </div>

    <div class="dw-content">
        <h2 class="sectionedit1 page-header" id="minimal_requirements">Minimal Requirements<a class="anchorjs-link " href="#minimal_requirements" aria-label="Anchor link for: minimal_requirements" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant: normal; font-weight: normal; line-height: 1; padding-left: 0.375em;"></a></h2>
        <div class="level2">

            <p>
                ProfitLocks is not hard, but it requires you to be able to type in commands into a text based command window, move files around, download and run new programs on your computer, edit files in a basic text editor, and do other things that are not “graphical” in nature. If you are a “Point and Click” type of person, you might want to look for some help with installation before you forge headlong into this adventure.
            </p>

            <p>
                That said, we have a great support team, and can help you through the installation and setup if you are patient and are willing to learn some new skills.
            </p>

            <p>
                <strong>You:</strong>
            </p>
            <ul class=" fix-media-list-overlap">
                <li class="level1"><div class="li"> Know what a file extension is, and how to enable these in Windows</div>
                </li>
                <li class="level1"><div class="li"> Know how to unzip a file and know where to find the unzipped files (this is tricky in Windows!)</div>
                </li>
                <li class="level1"><div class="li"> Know what a cmd prompt or terminal window is, and at least can navigate to a directory in it</div>
                </li>
                <li class="level1"><div class="li"> Know how to edit *.properties files and that a '#' is not a Twitter hashtag</div>
                </li>
                <li class="level1"><div class="li"> Know that running this on your MacBook Pro is like doing grocery shopping with your Lambo</div>
                </li>
                <li class="level1"><div class="li"> Know how to read and understand technical writing</div>
                </li>
            </ul>

            <p>
                <strong>Windows:</strong>
            </p>
            <ul class=" fix-media-list-overlap">
                <li class="level1"><div class="li"> Windows 7 or higher (32/64 bit)</div>
                </li>
                <li class="level1"><div class="li"> Min. 2GB ram</div>
                </li>
                <li class="level1"><div class="li"> Min. 500MB free space</div>
                </li>
                <li class="level1"><div class="li"> A decent text editor like Notepad++ <a href="https://notepad-plus-plus.org/" class="urlextern" title="https://notepad-plus-plus.org/" rel="nofollow">https://notepad-plus-plus.org/</a></div>
                </li>
            </ul>

            <p>
                <strong>MacOS:</strong>
            </p>
            <ul class=" fix-media-list-overlap">
                <li class="level1"><div class="li"> Have you ever used the “Terminal” app on your Mac before? Do you know what Unix commands are? </div>
                </li>
                <li class="level1"><div class="li"> If your can answer yes. Please use the Mac guide <a href="/doku.php?id=mac_guide" class="wikilink1" title="mac_guide">here</a>.</div>
                </li>
            </ul>

            <p>
                <strong>Linux:</strong>
            </p>
            <ul class=" fix-media-list-overlap">
                <li class="level1"><div class="li"> Min. 2GB ram</div>
                </li>
                <li class="level1"><div class="li"> Min. 500MB free space</div>
                </li>
            </ul>

            <p>
                <strong>Raspberry Pi:</strong>
            </p>
            <ul class=" fix-media-list-overlap">
                <li class="level1"><div class="li"> Raspberry Pi 3 or newer</div>
                </li>
                <li class="level1"><div class="li"> Min. 8GB MicroSD card</div>
                </li>
            </ul>
            <hr>

            <p>
                <strong>Internet connection:</strong>
            </p>
            <ul class=" fix-media-list-overlap">
                <li class="level1"><div class="li"> Min. 5 Mbps per instance</div>
                </li>
                <li class="level1"><div class="li"> Min. 1TB a month data cap. (ProfitLocks can use about 30GB a day)</div>
                </li>
            </ul>

        </div>

    </div>
    
</div>