<div class="container demo-page">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Supported Exchanges</h1>
            <div>
                <p class="text-justify">We are working hard to make the best exchanges offer in our pool. The latest
                    exchanges will be supported by default.</p>
            </div>
            <hr>
        </div>
        <div ng-show="trainingStarted" class="row">
            <div class="col-sm-2">
                <a class="thumbnail">
                    <img src="https://user-images.githubusercontent.com/1294454/27786377-8c8ab57e-5fe9-11e7-8ea4-2b05b6bcceec.jpg"
                         alt="bitstamp">
                </a>
                <p class="text-center">
                    <small>Bitstamp</small>
                </p>
            </div>
            <div class="col-sm-2">
                <a class="thumbnail">
                    <img alt="cex"
                         src="https://user-images.githubusercontent.com/1294454/27766442-8ddc33b0-5ed8-11e7-8b98-f786aef0f3c9.jpg"/>
                </a>
                <p class="text-center">
                    <small>Cex</small>
                </p>
            </div>
            <div class="col-sm-2">
                <a class="thumbnail">
                    <img alt="binance"
                         src="https://user-images.githubusercontent.com/1294454/29604020-d5483cdc-87ee-11e7-94c7-d1a8d9169293.jpg"/>
                </a>
                <p class="text-center">
                    <small>Binance</small>
                </p>
            </div>
            <div class="col-sm-2">
                <a class="thumbnail">
                    <img alt="bitfinex"
                         src="https://user-images.githubusercontent.com/1294454/27766244-e328a50c-5ed2-11e7-947b-041416579bb3.jpg"/>
                </a>
                <p class="text-center">
                    <small>Bitfinex</small>
                </p>
            </div>
            <div class="col-sm-2">
                <a class="thumbnail">
                    <img alt="poloniex"
                         src="https://user-images.githubusercontent.com/1294454/27766817-e9456312-5ee6-11e7-9b3c-b628ca5626a5.jpg"/>
                </a>
                <p class="text-center">
                    <small>Poloniex</small>
                </p>
            </div>
            <div class="col-sm-2">
                <a class="thumbnail">
                    <img alt="tidebit"
                         src="https://user-images.githubusercontent.com/629338/37465106-41303d72-2895-11e8-813c-3e692e76269f.png"/>
                </a>
                <p class="text-center">
                    <small>Tidebit (progress)</small>
                </p>
            </div>
        </div>

        <div ng-show="trainingStarted" class="row">

            <div class="col-sm-2">
                <a class="thumbnail">
                    <img alt="bithumb"
                         src="https://user-images.githubusercontent.com/1294454/30597177-ea800172-9d5e-11e7-804c-b9d4fa9b56b0.jpg"/>
                </a>
                <p class="text-center">
                    <small>Bithumb (progress)</small>
                </p>
            </div>

            <div class="col-sm-2">
                <a class="thumbnail">
                    <img alt="bitmex"
                         src="https://user-images.githubusercontent.com/1294454/27766319-f653c6e6-5ed4-11e7-933d-f0bc3699ae8f.jpg"/>
                </a>
                <p class="text-center">
                    <small>Bitmex (Beta)</small>
                </p>
            </div>

            <div class="col-sm-2">
                <a class="thumbnail">
                    <img alt="zb"
                         src="https://user-images.githubusercontent.com/1294454/32859187-cd5214f0-ca5e-11e7-967d-96568e2e2bd1.jpg"/>
                </a>
                <p class="text-center">
                    <small>ZB (beta)</small>
                </p>
            </div>

            <div class="col-sm-2">
                <a class="thumbnail">
                    <img alt="exmo"
                         src="https://user-images.githubusercontent.com/629338/37465338-d6f2fc28-2895-11e8-9520-b25db624ea5f.png"/>
                </a>
                <p class="text-center">
                    <small>EXMO (coming soon)</small>
                </p>
            </div>
            <div class="col-sm-2">
                <a class="thumbnail">
                    <img alt="upbit"
                         src="https://user-images.githubusercontent.com/629338/37465505-42d77b80-2896-11e8-94db-745840c2bbed.png"/>
                </a>
                <p class="text-center">
                    <small>Upbit (coming soon)</small>
                </p>
            </div>
            <div class="col-sm-2">
                <a class="thumbnail">
                    <img alt="kraken"
                         src="https://user-images.githubusercontent.com/1294454/27766599-22709304-5ede-11e7-9de1-9f33732e1509.jpg"/>
                </a>
                <p class="text-center">
                    <small>Kraken (coming soon)</small>
                </p>
            </div>
        </div>

        <div ng-show="trainingStarted" class="row">
            <div class="col-sm-2">
                <a class="thumbnail">
                    <img alt="kucoin"
                         src="https://user-images.githubusercontent.com/1294454/33795655-b3c46e48-dcf6-11e7-8abe-dc4588ba7901.jpg"/>
                </a>
                <p class="text-center">
                    <small>Kucoin (coming soon)</small>
                </p>
            </div>
            <div class="col-sm-2">
                <a class="thumbnail">
                    <img alt="coincheck"
                         src="https://user-images.githubusercontent.com/629338/37465926-71cf3968-2897-11e8-853f-e2a039649419.png"/>
                </a>
                <p class="text-center">
                    <small>Coincheck (coming soon)</small>
                </p>
            </div>
            <div class="col-sm-2">
                <a class="thumbnail">
                    <img alt="cobinhood"
                         src="https://user-images.githubusercontent.com/1294454/35755576-dee02e5c-0878-11e8-989f-1595d80ba47f.jpg"/>
                </a>
                <p class="text-center">
                    <small>Cobinhood (coming soon)</small>
                </p>
            </div>
            <div class="col-sm-2">
                <a class="thumbnail">
                    <img alt="gemini"
                         src="https://user-images.githubusercontent.com/1294454/27816857-ce7be644-6096-11e7-82d6-3c257263229c.jpg"/>
                </a>
                <p class="text-center">
                    <small>Gemini (coming soon)</small>
                </p>
            </div>
            <div class="col-sm-2">
                <a class="thumbnail">
                    <img alt="bittrex"
                         src="https://user-images.githubusercontent.com/1294454/27766352-cf0b3c26-5ed5-11e7-82b7-f3826b7a97d8.jpg"/>
                </a>
                <p class="text-center">
                    <small>Bittrex (coming soon)</small>
                </p>
            </div>
            <div class="col-sm-2">
                <a class="thumbnail">
                    <img alt="gdax"
                         src="https://user-images.githubusercontent.com/1294454/27766527-b1be41c6-5edb-11e7-95f6-5b496c469e2c.jpg"/>
                </a>
                <p class="text-center">
                    <small>Gdax (coming soon)</small>
                </p>
            </div>
        </div>

        <div ng-show="trainingStarted" class="row"></div>

        <div ng-if="trainingStarted" class="row text-center">
            <strong>Iterations:</strong> <span id="iterations"></span>
        </div>
    </div>
