<div class="container demo-page">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Read From Wikipedia</h1>
            <ul>
                <li>Registration of a Bot Owner Account</li>
                <li>Add API keys and store in your wallets</li>
                <li>Download VPS program</li>
                <li>
                    <a href="https://github.com/tokenchain/profitlocks/wiki/Installation">Installation</a> and <a href="https://github.com/tokenchain/profitlocks/wiki/configuration-file-application.properties">setups</a>
                </li>
                <li>Make your own trading strategy under your operations</li>
                <li>Share experience and flows of incoming from trading arbi.</li>
                <li>All user will enter the agreement terms when start using this software see <a href="https://github.com/tokenchain/profitlocks/wiki/Terms-and-Conditions">terms</a>
                </li>
            </ul>
        </div>
    </div>
    <hr>
</div>