<div class="container demo-page">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Introduction</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Profitlocks (PFL) is built on the foundation of the patent pending Trading Fx Technology that provides a
            deep compliance framework that satisfies the strictest hedge fund requirements. This framework sets PFL
            apart from any other crypto trading solution by bringing together all of the tools hedge funds need to buy
            and sell cryptocurrency, in a single, integrated interface.
        </div>
        <div class="col-md-6">
            It delivers a powerful set of tools and services to the wealth management industry, making use of blockchain
            technology or other crypto technologies to deliver cutting edge applications that have been created by a
            diverse community of developers, while also enabling real-time profit trading. The PFL platform provides a
            robust layer of security and functionality to familiar tools, and capabilities that advance the current
            strategies of traditional investment managers, and also supports the complexities of cryptocurrency markets.
            Emerging cryptocurrency focused investment funds enjoy sophisticated platform tools for both front and back
            office operations along with the added value and assurance of a compliance framework that provides security
            for investors across this rapidly emerging asset class.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Read From Wikipedia</h1>
            <ul>
                <li>Registration of a Bot Owner Account</li>
                <li>Add API keys and store in your wallets</li>
                <li>Download VPS program</li>
                <li>
                    <a href="https://github.com/tokenchain/profitlocks/wiki/Installation">Installation</a> and <a
                        href="https://github.com/tokenchain/profitlocks/wiki/configuration-file-application.properties">setups</a>
                </li>
                <li>Make your own trading strategy under your operations</li>
                <li>Share experience and flows of incoming from trading arbi.</li>
                <li>All user will enter the agreement terms when start using this software see <a
                        href="https://github.com/tokenchain/profitlocks/wiki/Terms-and-Conditions">terms</a>
                </li>
            </ul>
        </div>
    </div>
    <hr>
</div>